.profile__input {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 320px;
    color: #fff;
    text-align: end;
    cursor: text;
    margin-bottom: 17px;
    outline: none;
    text-overflow:ellipsis;
}

input:focus {
  opacity: .7;
}

.profile__input::placeholder {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.3px;
}

.profile__label {
    width: 90px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__input {
    margin-bottom: 17px;
    width: 200px;
  }

  .profile__label {
    width: 40px;
  }
}

.error {
  display: flex;
  position: absolute;
  color: #FF004C;
  font-family: 'Inter', Courier, monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  max-width: 400px;
  margin: 0 auto 0 auto;
  padding: 0;
  margin-top: 65px;
  margin-left: 100px;
  align-items: center;
  min-height: 30px;
}

.error-Auth {
  display: flex;
  position: absolute;
  color: #FF004C;
  font-family: 'Inter', Courier, monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  max-width: 400px;
  margin: 0 auto 0 auto;
  padding: 0;
  margin-top: 35px;
  margin-left: 100px;
  align-items: center;
  min-height: 30px;
}

@media screen and (max-width: 767px) {
  .error {
    max-width: 238px;
    }
}