.techs__subtitle {
    width: 460px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 25px auto 100px auto;
    letter-spacing: -.7px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .techs__subtitle {
    margin-bottom: 83px;
    font-size: 12px;
    line-height: 18px;
    width: 430px;
    margin-top: 22px;
    letter-spacing: -.4px;
  }
}

@media screen and (max-width: 767px) {
  .techs__subtitle {
    width: 300px;
    margin: 25px auto 40px auto;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -.4px;
  }
}