.footer__text {
    margin: 0 auto 0 auto;
    padding-top: 79px;
    padding-bottom: 20px;
    color: #8B8B8B;
    border-bottom: 1px solid #424242;
    max-width: 1140px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__text {
    max-width: 708px;
    padding-top: 65px;
  }
}

@media screen and (max-width: 767px) {
  .footer__text {
    max-width: 300px;
    font-size: 12px;
    line-height: 14.52px;
    padding-bottom: 21px;
  }
}