.movies {
    background-color: #202020;
    width: 100%;
    font-family: 'Inter', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 0;
  }
}