.aboutMe__container {
    width: 600px;
    flex-direction: row;
    margin-left: auto;
    margin-right: 270px;
    justify-content: space-between;
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutMe__container {
    display: flex;
    flex-direction: column;
    margin-right: 49px;
    height: 307px;
    width: 364px;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__container {
    width: 292px;
    justify-content: center;
    height: fit-content;
    margin: 0 auto 0 auto;
    margin-top: 40px;
    grid-area: info;
  }
}