.aboutMe__container {
    max-width: 600px;
    grid-area: info;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutMe__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__container {
    max-width: 292px;
    justify-content: center;
    height: fit-content;
    margin: 0 auto 0 auto;
    margin-top: 40px;
    grid-area: info;
  }
}