.profile {
  background-color: #202020;
  font-family: 'Inter', Courier, monospace;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    height: 750px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    height: 706px;
  }
}