.profile__input-container {
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    flex-wrap: wrap;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.3px;
    border-bottom: 1px solid #424242;
    margin-bottom: 17px;
}

.profile__input-container:last-of-type {
    border: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__input-container {
    max-width: 768px;
    margin-bottom: 17px;
  }
  .profile__input-container:last-of-type {
    max-width: 768px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__input-container {
    max-width: 260px;
    margin-bottom: 0;
  }
}