.aboutMe__title {
    line-height: 58px;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    grid-area: title;
    letter-spacing: -2px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutMe__title {
    line-height: 40px;
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__title {
    line-height: 36.31px;
    font-size: 30px;
    grid-area: title;
  }
}