.notFound__subtitle {
  margin: 5px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .notFound__subtitle {
    font-size: 12px;
    line-height: 14.52px;
    margin-top: 0;
  }
}