.auth__postscriptLink {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding: 0;
  text-align: center;
  color: #8B8B8B;
}

.auth__postscriptLink:hover {
    opacity: .85;
    cursor: pointer;
  }

  .auth__postscriptLink_blue {
    color: #4285F4;
    text-decoration: none;
  }