.profile__button {
    margin-top: 190px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    line-height: 15.7px;
    font-weight: 400;
    text-decoration: none;

}

.profile__button:last-of-type {
    margin-top: 15px;
    color: #EE3465;
}

.profile__button:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__button {
    margin-top: 195px;
  }
}

@media screen and (max-width: 767px) {
  .profile__button {
    margin-top: 365px;
  }
}