.header__button {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-size: 13px;
  font-weight: 400;
  margin: 16px 0 0 50px;
}

.header__button:nth-child(3) {
  margin-left: 18px;
}

.header__button_bold {
  font-weight: bolder;
}

.header__button:hover {
  cursor: pointer;
  opacity: .8;
}

.header__mobileButton {
  line-height: 21.78px;
  font-size: 18px;
  display: grid;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  grid-area: links;
  z-index: 5;
}

.header__mobileButton:hover {
  cursor: pointer;
  font-weight: 700;
}