.aboutProject__timeline-text {
    line-height: 17px;
    font-size: 14px;
}

.aboutProject__timeline-text_black {
    color: black;
    background-color: #3DDC84;
    background-size: cover;
    min-width: 228px;
    text-align: center;
    padding: 9px 0 9px 0;
}

.aboutProject__timeline-text_white {
    color: #fff;
    background-color: #303030;
    background-size: cover;
    min-width: 912px;
    text-align: center;
    padding: 9px 0 9px 0;
}

.aboutProject__timeline-text_grey {
    color: #8B8B8B;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutProject__timeline-text_black {
    min-width: 140px;
  }

  .aboutProject__timeline-text_white {
    min-width: 528px;
  }
}

@media screen and (max-width: 767px) {
  .aboutProject__timeline-text {
    line-height: 13.31px;
    font-size: 11px;
    padding: 11px 0 11px 0;
}

  .aboutProject__timeline-text_black {
    min-width: 100px;
  }

  .aboutProject__timeline-text_white {
    min-width: 184px;
  }

  .aboutProject__timeline-text_grey {
    color: #8B8B8B;
    padding: 0px 0 9px 0;
}
}