.auth__input {
    width: 366px;
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
    height: 16px;
    padding: 15px;
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 15.7px;
    font-weight: 400;
    color: #fff;
    text-overflow: ellipsis;
    outline: none;
    cursor: text;
}

.auth__input_label {
    font-size: 10px;
    line-height: 12.1px;
    font-weight: 400;
    color: #8B8B8B;
    position: relative;
    bottom: 10px;
}

.auth__input__signin {
  margin-bottom: 112px;
}
@media screen and (max-width: 767px) {
  .auth__input {
    width: 260px;
    padding:  15px 0 15px 0;
  }
  .auth__input_label {
    font-size: 10px;
    line-height: 12.1px;
    font-weight: 400;
    color: #8B8B8B;
    display: flex;
    width: 260px;
    bottom: 10px;
  }
}