.footer__link {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__link:hover {
  opacity: .9;
  border-bottom: #fff 1px solid;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14.52px;
  }

  .footer__link:last-child {
    margin-bottom: 2px;
  }
}

.footer__link:hover {
  opacity: .9;
  border-bottom: #fff 1px solid;
  }