.techs__container {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 284px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .techs__container {
    padding-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .techs__container {
    padding-top: 65px;
    max-width: 292px;
    display: grid;
    grid-template-columns: 84px 84px;
    column-gap: 5px;
    grid-template-areas: 'title title' 'about about' 'type_1 type_2';
    height: fit-content;
    justify-items: center;
    justify-content: center;
    padding-bottom: 65px;
  }
}