.portfolio__link {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
}

.portfolio__link:last-child {
  border: none;
}

.portfolio__link:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio__link {
    max-width: 668px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__link {
    max-width: 292px;
    width: 100%;
    padding-bottom: 19px;
    padding-top: 10px;
  }
}