.aboutMe__photo {
    margin: 0;
    height: 327px;
    overflow: hidden;
    width: 270px;
    grid-area: photo;
    border-radius: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutMe__photo {
    height: 307px;
    width: 255px;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__photo {
    width: 292px;
    height: 352px;
    grid-area: photo;
  }
}