.aboutMe__photo {
    margin: 0;
    max-height: 327px;
    max-width: 270px;
    grid-area: photo;
    margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aboutMe__photo {
    max-height: 307px;
    max-width: 255px;
    grid-area: photo;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__photo {
    max-width: 292px;
    max-height: 352px;
    grid-area: photo;
  }
}